<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TorrentsPath" value="C:\Path" />
    <add key="CompletedPath" value="C:\Path" />
    <add key="PlexPath" value="C:\Path" />
    <add key="PlexScriptPath" value="C:\Path" />
    <add key="UIPathUsername" value="username" />
    <add key="UIPathPassword" value="password" />
    <add key="Tenancy" value="tenant" />
    <add key="ToEmailAddress" value="email" />
    <add key="FromEmailAddress" value="email" />
    <add key="EmailPassword" value="password" />
    <add key="ReleaseName" value="relaseName" />
    <add key="UIPathEndpoint" value="https://platform.uipath.com" />
    <add key="DeletePauseInMilliseconds" value="600000" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>